:root {
    /* Tonal Palettes */
    /** Primary Color **/
    --md-ref-primary-0: 0, 0, 0;
    --md-ref-primary-10: 0, 0, 0;
    --md-ref-primary-20: 0, 0, 0;
    --md-ref-primary-30: 0, 0, 0;
    --md-ref-primary-40: 0, 0, 0;
    --md-ref-primary-50: 0, 0, 0;
    --md-ref-primary-60: 0, 0, 0;
    --md-ref-primary-70: 0, 0, 0;
    --md-ref-primary-80: 0, 0, 0;
    --md-ref-primary-90: 0, 0, 0;
    --md-ref-primary-95: 0, 0, 0;
    --md-ref-primary-99: 0, 0, 0;
    --md-ref-primary-100: 0, 0, 0;

    /* Secondary Color */
    --md-ref-secondary-0: 0, 0, 0;
    --md-ref-secondary-10: 0, 0, 0;
    --md-ref-secondary-20: 0, 0, 0;
    --md-ref-secondary-30: 0, 0, 0;
    --md-ref-secondary-40: 0, 0, 0;
    --md-ref-secondary-50: 0, 0, 0;
    --md-ref-secondary-60: 0, 0, 0;
    --md-ref-secondary-70: 0, 0, 0;
    --md-ref-secondary-80: 0, 0, 0;
    --md-ref-secondary-90: 0, 0, 0;
    --md-ref-secondary-95: 0, 0, 0;
    --md-ref-secondary-99: 0, 0, 0;
    --md-ref-secondary-100: 0, 0, 0;

    /* Tertiary Color */
    --md-ref-tertiary-10: 0, 0, 0;
    --md-ref-tertiary-20: 0, 0, 0;
    --md-ref-tertiary-30: 0, 0, 0;
    --md-ref-tertiary-40: 0, 0, 0;
    --md-ref-tertiary-50: 0, 0, 0;
    --md-ref-tertiary-60: 0, 0, 0;
    --md-ref-tertiary-70: 0, 0, 0;
    --md-ref-tertiary-80: 0, 0, 0;
    --md-ref-tertiary-90: 0, 0, 0;
    --md-ref-tertiary-95: 0, 0, 0;
    --md-ref-tertiary-99: 0, 0, 0;
    --md-ref-tertiary-100: 0, 0, 0;

    /* Error Color */
    --md-ref-error-10: 0, 0, 0;
    --md-ref-error-20: 0, 0, 0;
    --md-ref-error-30: 0, 0, 0;
    --md-ref-error-40: 0, 0, 0;
    --md-ref-error-50: 0, 0, 0;
    --md-ref-error-60: 0, 0, 0;
    --md-ref-error-70: 0, 0, 0;
    --md-ref-error-80: 0, 0, 0;
    --md-ref-error-90: 0, 0, 0;
    --md-ref-error-95: 0, 0, 0;
    --md-ref-error-99: 0, 0, 0;
    --md-ref-error-100: 0, 0, 0;

    /* Neutral Color */
    --md-ref-neutral-10: 0, 0, 0;
    --md-ref-neutral-20: 0, 0, 0;
    --md-ref-neutral-30: 0, 0, 0;
    --md-ref-neutral-40: 0, 0, 0;
    --md-ref-neutral-50: 0, 0, 0;
    --md-ref-neutral-60: 0, 0, 0;
    --md-ref-neutral-70: 0, 0, 0;
    --md-ref-neutral-80: 0, 0, 0;
    --md-ref-neutral-87: 0, 0, 0;
    --md-ref-neutral-90: 0, 0, 0;
    --md-ref-neutral-95: 0, 0, 0;
    --md-ref-neutral-98: 0, 0, 0;
    --md-ref-neutral-99: 0, 0, 0;
    --md-ref-neutral-100: 0, 0, 0;

    /* Neutral Variant Color */
    --md-ref-neutral-variant-10: 0, 0, 0;
    --md-ref-neutral-variant-20: 0, 0, 0;
    --md-ref-neutral-variant-30: 0, 0, 0;
    --md-ref-neutral-variant-40: 0, 0, 0;
    --md-ref-neutral-variant-50: 0, 0, 0;
    --md-ref-neutral-variant-60: 0, 0, 0;
    --md-ref-neutral-variant-70: 0, 0, 0;
    --md-ref-neutral-variant-80: 0, 0, 0;
    --md-ref-neutral-variant-90: 0, 0, 0;
    --md-ref-neutral-variant-95: 0, 0, 0;
    --md-ref-neutral-variant-99: 0, 0, 0;
    --md-ref-neutral-variant-100: 0, 0, 0;
}
