/* Global properties */
.result {
    display: flex;
    flex-direction: column;
}

.result__empty {
    display: flex;
    flex: 1;
    align-content: center;
    border-radius: 2.25rem;
    background: var(--md-sys-color-surface-container, #EBEEF7);
}

.result__title {
    color: var(--md-sys-color-on-surface);
    text-align: center;
}

.result__description {
    color: var(--md-sys-color-on-surface-variant);
    text-align: center;
}

.result__content {
    display: flex;
    flex-direction: column;
}

.result__output {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    min-width: 0; /* Previne overflow em grids */
    flex: 1;
    border-radius: 2.25rem;
    background: var(--md-sys-color-surface-container, #EBEEF7);
}

.result__output-field {
    width: 100%;
    height: 100%;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    color: var(--md-sys-color-on-surface);
    pointer-events: none;
}

/* Desktop properties (telas maiores que 1024px) */
@media screen and (min-width: 1025px) {
    .result__empty {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2.5rem;
    }
    
    .result__output-field {
        min-height: 200px;
        padding: 2.5rem;
    }

    .result__output {
        display: flex;
    }
}

/* Compartilhado entre Tablet e Mobile */
@media screen and (max-width: 1024px) {
    .result {
        padding: 0;
        gap: 1.5rem;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 0;
        background: none;
    }
    
    .result .encoder__rule-container {
        display: initial;
    }
    
    .result .button-group {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .result__empty {
        padding: 1.4rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .result__empty img {
        display: none;
    }
    
    .result__output {
        display: flex;
        width: 100%;
    }
}

/* Tablet específico */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .result__output {
        padding: 1.4rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

/* Mobile específico */
@media screen and (max-width: 600px) {
    .result__empty {
        padding: 2.5rem;
    }
    
    .result__output {
        padding: 1.4rem 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}