/* base/variables.css */
:root {
    /* Fonts and Weights */
    --font-primary: "Roboto", "Helvetica Neue", Arial, sans-serif;
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    
    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --feature-gap: 50px; /* Evitar usar rem para gaps predefinidos */
    
    /* Typography Sizes */
    --display-small-size: 36px;
    --body-large-size: 16px;
    --body-small-size: 12px;
    
    /* Typography Line Heights */
    --display-small-line-height: 44px;
    --body-large-line-height: 24px;
    
    /* Typography Letter Spacing */
    --display-small-letter-spacing: 0px;
    --body-large-letter-spacing: 0.5px;
    --body-small-letter-spacing: 0.4px;
    
    /* Line height calculations */
    --line-height-small: 1.333; /* 133.333% */
    --line-height-large: 1.5;   /* 150% */
    
    --body-small-line-height: calc(var(--body-small-size) * var(--line-height-small));
    
    /* Buttons variables */
    --button-transition: 0.2s ease;
    --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --button-radius: 6.25rem;
    --button-shadow-focus: 0px 1px 2px 0px rgba(0, 0, 0, 0.40), 0px 1px 3px 1px rgba(0, 0, 0, 0.20);
    
    .hidden {
        display: none;
    }
}