/* Base Typography */
.typography-base,
h1, h2, h3, h4, h5, h6,
p, span, a, li, label,
input, textarea, button {
    font-family: var(--font-primary);
    font-style: normal;
    color: var(--md-sys-color-on-surface);
}


.display-small {
    font-size: var(--display-small-size, 36px);
    font-weight: var(--font-weight-regular);
    line-height: var(--display-small-line-height, 44px);
    letter-spacing: var(--display-small-letter-spacing, 0px);
}

/* Body Styles */
.body-large {    
    font-size: var(--body-large-size, 1rem);
    font-weight: var(--font-weight-regular);
    line-height: var(--body-large-line-height, 1.5rem);
    letter-spacing: var(--body-large-letter-spacing, 0.03125rem);
}

.body-small {
    font-size: var(--body-small-size, 12px);
    font-weight: var(--font-weight-regular);
    line-height: var(--body-small-line-height, 16px);
    letter-spacing: var(--body-small-letter-spacing, 0.4px);
}